{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="py-5">
<div class="container-md">
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">1. Input File</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Select which .las file to upload</h6>
                    <form method="post" enctype="multipart/form-data" data-hx-post="/"
                          data-hx-encoding='multipart/form-data'
                          data-hx-target="#las_list"
                          data-hx-indicator="#indicator">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="file" name="las_file" required="" id="id_las_file" class="form-control"
                                       multiple>
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary text-white">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">2. Select .las files for training</h5>
                    <h6 class="card-subtitle mb-2 text-muted">These files will be merged to prepare for training</h6>
                    <div id="las_list">
                        <form id="las_files" data-hx-get="/" data-hx-params="*" data-hx-target="#las_box"
                              data-hx-indicator="#indicator">
                            <label for="selected_las" class="form-label">.las files:</label>
                            <select name="selected_las" id="selected_las" class="form-select mb-2" multiple>
                                {% for file in las_files %}
                                    <option value="{{ file }}">{{ file }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary text-white">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">3. Remove data parts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Box plot</h6>
                    <div id="las_box">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {#        <form id="las_form" action="get" hx-get="/" hx-params="*" hx-target="#las_plot" hx-indicator="#indicator">#}
    {#            <input type="hidden" id="selected_las" name="selected_las" value="{{ selected_las }}">#}
    {#            <select name="curves1" id="curves1" multiple>#}
    {#                {% for curve in las_curves %}#}
    {#                    <option value="{{ curve }}">{{ curve }}</option>#}
    {#                {% endfor %}#}
    {#            </select>#}
    {#            <select name="curves2" id="curves2" multiple>#}
    {#                {% for curve in las_curves %}#}
    {#                    <option value="{{ curve }}">{{ curve }}</option>#}
    {#                {% endfor %}#}
    {#            </select>#}
    {#            <select name="curves3" id="curves3" multiple>#}
    {#                {% for curve in las_curves %}#}
    {#                    <option value="{{ curve }}">{{ curve }}</option>#}
    {#                {% endfor %}#}
    {#            </select>#}
    {#            <input type="submit">#}
    {#            <img id="indicator" class="htmx-indicator" src="{% static 'img/spinner.gif' %}"#}
    {#                 style="width:50px;height:50px;"/>#}
    {#        </form>#}
    {##}
    {#        <div id="las_plot">#}
    {#            {{ las_div | safe }}#}
    {#            {{ las_script | safe }}#}
    {#        </div>#}
    {#    </div>#}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.3.3"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>