<form id="las_dd">
    <label for="selected_las" class="form-label">.las files:</label>
    <select name="selected_las" id="selected_las" class="form-select mb-2" multiple>
        {% for file in las_files %}
            <option value="{{ file }}">{{ file }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary text-white" data-hx-get="/log_selector" data-hx-params="*"
            data-hx-target="#log_selector_form"
            data-hx-include="#las_dd">Submit
    </button>
    <button type="button" class="btn btn-secondary text-white" data-bs-toggle="modal"
            data-bs-target="#las_preview_modal" data-hx-get="/las_preview" data-hx-params="*"
            data-hx-target="#las_preview_modal_content"
            data-hx-include="#las_dd">Preview Logs
    </button>
</form>

<div id="las_preview_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logs Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="las_preview_modal_content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>