{% load static %}

<p class="card-subtitle mb-3 text-muted"><img
        src="{% static 'img/information-icon-red.svg' %}"
        alt="information" style="height:1.3em;"> You can remove potential data outlier by modifying the minimum and
    maximum
    value accepted for each logs.</p>

<div class="row mt-3">
    <div class="col-4">
        <form id="las_limit">
            <table class="table table-responsive table-bordered table-striped">
                <thead class="table-primary">
                <tr>
                    <th>Log</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                </tr>
                </thead>
                <tbody>
                {% for col, quartile in iqr.items %}
                    <tr>
                        <td><b>{{ col }}</b></td>
                        <td><input type="number" class="form-control"
                                   placeholder="{{ quartile.0 | floatformat:2 }}"
                                   value="{{ quartile.0 | floatformat:2 }}"
                                   name="{{ col }}_bottom"></td>
                        <td><input type="number" class="form-control"
                                   placeholder="{{ quartile.1 | floatformat:2 }}"
                                   value="{{ quartile.1 | floatformat:2 }}"
                                   name="{{ col }}_top"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p class="mb-3 text-muted"><img
                    src="{% static 'img/information-icon-red.svg' %}"
                    alt="information" style="height:1.3em;"> Make
                sure that you are satisfied with the data
                cleansing process, we will create a model based on this data by clicking
                submit
                button.</p>

            <button type="submit" class="btn btn-primary text-white"
                    data-hx-include="#las_limit"
                    data-hx-get="/predicted_log"
                    data-hx-target="#predicted_log"
                    data-hx-indicator="#submit_precondition_indicator">
                Submit
                <img id="submit_precondition_indicator" style="height:20px;"
                     class="htmx-indicator"
                     src="{% static 'img/bars.svg' %}"/>
            </button>
            <button type="submit" class="btn btn-secondary text-white"
                    data-hx-include="#las_limit"
                    data-hx-get="/threeb"
                    data-hx-target="#las_box_preview"
                    data-hx-indicator="#preview_precondition_indicator">
                Preview
                <img id="preview_precondition_indicator" style="height:20px;"
                     class="htmx-indicator"
                     src="{% static 'img/bars.svg' %}"/>
            </button>
        </form>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                <h6 class="mb-2 text-muted">Before</h6>
                {{ las_div | safe }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h6 class="mb-2 text-muted">After</h6>
                <div id="las_box_preview">

                </div>
            </div>
        </div>
    </div>
</div>


