{% load static %}
<br/>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <table class="table table-vcenter table-bordered">
            <tr>
                <th class="table-light">RMSE train</th>
                <td>{{ rmse_train | floatformat:3 }}</td>
            </tr>
            <tr>
                <th class="table-light">RMSE test</th>
                <td>{{ rmse_test | floatformat:3 }}</td>
            </tr>
        </table>
    </div>
</div>

<p class="card-subtitle mb-3 text-muted"><img
        src="{% static 'img/iconmonstr-info-8.svg' %}"
        alt="information" style="height:1.3em;"> Assess the predictor parameters based
    on the feature importance</p>

{{ feature_importance_div | safe }}

<form method="post" enctype="multipart/form-data" data-hx-post="/five"
      data-hx-encoding='multipart/form-data'
      data-hx-target="#output_log"
      data-hx-indicator="#submit_pred_file_indicator">
    {% csrf_token %}
    <label for="id_las_file_predict" class="form-label">Select file to be used for
        prediction:</label>
    <div class="row">
        <div class="col-lg-3">
            <input type="file" name="las_file" required="" id="id_las_file_predict"
                   class="form-control">
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary text-white">Submit
                <img id="submit_pred_file_indicator" style="height:20px;"
                     class="htmx-indicator"
                     src="{% static 'img/bars.svg' %}"/></button>
        </div>
    </div>
</form>