<br/>
<h6>rmse train = {{ rmse_train }}</h6>
<h6>rmse test = {{ rmse_test }}</h6>

{{ feature_importance_div | safe }}

<form method="post" enctype="multipart/form-data" data-hx-post="/five"
      data-hx-encoding='multipart/form-data'
      data-hx-target="#output_log"
      data-hx-indicator="#indicator">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-3">
            <input type="file" name="las_file" required="" id="id_las_file_predict" class="form-control">
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary text-white">Submit</button>
        </div>
    </div>
</form>