{% load static %}

<form id="las_form" action="get" hx-get="/" hx-params="*" hx-target="#las_plot" hx-indicator="#indicator">
    <input type="hidden" id="selected_las" name="selected_las" value="{{ selected_las }}">
        <select name="curves1" id="curves1" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none" multiple>
            {% for curve in las_curves %}
                <option value="{{ curve }}">{{ curve }}</option>
            {% endfor %}
        </select>
        <select name="curves2" id="curves2" multiple>
            {% for curve in las_curves %}
                <option value="{{ curve }}">{{ curve }}</option>
            {% endfor %}
        </select>
        <select name="curves3" id="curves3" multiple>
            {% for curve in las_curves %}
                <option value="{{ curve }}">{{ curve }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    <img id="indicator" class="htmx-indicator" src="{% static 'img/spinner.gif' %}" style="width:50px;height:50px;"/>
    </form>