{% load static %}
{% include 'messages.html' %}
<div class="card border-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title">2. Select .las files for training</h5>
        <h6 class="card-subtitle mb-2 text-muted">These files will be merged to prepare for training</h6>
        <form id="las_dd">
            <label for="selected_las" class="form-label">.las files:</label>
            <div class="row">
                <div class="col-lg-6">
                    <select name="selected_las" id="selected_las"
                            style="visibility: hidden; width: 100%" size="1" multiple>
                        {% for file in las_files %}
                            <option value="{{ file }}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-2">
                    <button type="submit" class="btn btn-primary text-white" data-hx-get="/log_selector"
                            data-hx-params="*"
                            data-hx-target="#log_selector_form"
                            data-hx-include="#las_dd"
                            data-hx-indicator="#submit_train_indicator">Submit
                        <img id="submit_train_indicator" style="height:20px;" class="htmx-indicator"
                             src="{% static 'img/bars.svg' %}"/>
                    </button>
                    <button type="button" class="btn btn-secondary text-white"
                            data-hx-get="/las_preview"
                            data-hx-params="*"
                            data-hx-target="#las-preview-train-modal-here"
                            data-hx-trigger="click"
                            data-hx-indicator="#preview_train_indicator"
                            _="on htmx:afterOnLoad wait 10ms then add .show to #preview-las-modal then add .show to #preview-las-modal-backdrop">
                        Preview Logs
                        <img id="preview_train_indicator" style="height:20px;" class="htmx-indicator"
                             src="{% static 'img/bars.svg' %}"/>
                    </button>
                </div>
            </div>
        </form>

        <div id="las-preview-train-modal-here"></div>

        <span class="text-danger"><i>Disclaimer:</i> logs in the uploaded file will be renamed/aliased using our library. Click <a
                href="javascript:"
                data-bs-toggle="modal" data-bs-target="#alias-modal">HERE</a> to see this library</span>

        <div class="modal fade" id="alias-modal" tabindex="-1" aria-labelledby="alias-modal-label"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alias-modal-label">Alias File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Alias</th>
                                <th scope="col">Logs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>CAL</th>
                                <th>C1, C1S, C2, CAL1R, CAL1R_R, CALD, CALI, CALI_1,
                                    CALI_2, CALI_SCPS, CALR, CALS, CALSR, CALSR_R, CALX,
                                    DCAL, HCAL, HCAL2R, HCALD, HCALR, HCALS, HCAL_1,
                                    HCAL_2, HCGRR, HD, HD1, HD2, HDS, HSGRR, LCAL,
                                    LCALD, LCALR, LCAL_1
                                </th>
                            </tr>
                            <tr>
                                <th>GR</th>
                                <th>CGR, CGRD, CGRR, CGRS, ECGR, ECGRD, ECGREDTC,
                                    ECGRR, ECGRS, GR, GRC, GRD, GRD1, GRD_1, GRN, GRR,
                                    GRR_R, GRR_R1, GRR_R2, GRS, GRS1, GRT, GR_1,
                                    GR_EDTC, GR_STGC, HCGR, HCGRD, HCGRS, HGRT, HSGR,
                                    HSGRD, HSGRS, MSGRR, SGR, SGRD, SGRDD, SGRR, SGRS
                                </th>
                            </tr>
                            <tr>
                                <th>SP</th>
                                <th>SPR</th>
                            </tr>
                            <tr>
                                <th>PEF</th>
                                <th>PE, PEF, PEFL, PEFS, PEFZ, PEF_SLDT</th>
                            </tr>
                            <tr>
                                <th>GR_OTHER</th>
                                <th>HFK, HTHO, HURA, THOR, URAN, CGRRPOTA</th>
                            </tr>
                            <tr>
                                <th>DENS</th>
                                <th>RHOM, RHOB, RHOB_SLDT, RHOZ, ZDEN</th>
                            </tr>
                            <tr>
                                <th>POR</th>
                                <th>CNC, CNC_LS, CNPOR_LS, DPHZLS, DPHZ_SS, DPO, ENPH_LS,
                                    NPHI, NPHI1, NPHILS_1, NPHILs, NPHI_LS, NPHI_LS_1,
                                    NPHS, NPOR, NPORLS, NPOR_LS, SNP, TNPH, TNPH_LIM,
                                    TNPH_LS, TNPH_SS, TNPJ_LS_1, TPHI_LS, DPHI, DPHI_LS,
                                    DPHI_LS, DPHI_SLDT, DPHZ, DPHZ2, DPHZ_LS, DPO, DPOR,
                                    DPOR_LS, DPO_LS, PORZ, PORZ_LS, PHIND_LS, PHIX,
                                    PHND_LS, PORS_LS, PXND, SPHI, SPHILS, SPHI_LS, SPHI_SS
                                </th>
                            </tr>
                            <tr>
                                <th>DRES</th>
                                <th>AE90, AF60, AF90, AHF60, AHFCO60, AHT60, AHT90,
                                    AO60, AO90, AST90, AT60, AT90, CILD, HLLD, HRID,
                                    IDPC, IDPH, ILD, ILD1, ILD_1, LLD, LLD_R, LLD_R1,
                                    LLD_R2, RILD, RLA4, RLA5, RT_HRLT, TBI60, TBIT90
                                </th>
                            </tr>
                            <tr>
                                <th>MRES</th>
                                <th>AE30, AST30, AT30, HRIM, ILM, ILM_1, IMBC, IMPH,
                                    RLA4
                                </th>
                            </tr>
                            <tr>
                                <th>SRES</th>
                                <th>HMIN, HMNO, MGUARD, MSFL, MSFL_R, RLA1, RLA2, RXO8,
                                    RXOZ, RXOZ_R, RXO_HRLT, SFL, SFLA, SFLU, SFLU_1,
                                    SFLU_1
                                </th>
                            </tr>
                            <tr>
                                <th>CO</th>
                                <th>AFCO, AFCO60, CIDP
                                </th>
                            </tr>
                            <tr>
                                <th>DTCO</th>
                                <th>DTCO, DT, DTC
                                </th>
                            </tr>
                            <tr>
                                <th>DEPT</th>
                                <th>DEPTH, DEPTH_MD, DEPT_MD
                                </th>
                            </tr>
                            <tr>
                                <th>DTSM</th>
                                <th>DTSM
                                </th>
                            </tr>
                            <tr>
                                <th>DT_OTHER</th>
                                <th>DTM, DTSH
                                </th>
                            </tr>
                            <tr>
                                <th>DRHO</th>
                                <th>CORR, DRH, DRHO, HDRA, QRHO, QRHO_SLDT, DCOR, ZCOR
                                </th>
                            </tr>
                            <tr>
                                <th>PR</th>
                                <th>PR
                                </th>
                            </tr>
                            <tr>
                                <th>VPVS</th>
                                <th>PYR, VPVS, VPVS_X, VPVS_Y
                                </th>
                            </tr>
                            <tr>
                                <th>OTHERS</th>
                                <th>CBL, CIRF_FIL, DEVI, GRATIO, GTEM, HD1_PPC1, HD2_PPC1,
                                    HD2_PPC2, LTEN, RB, ROP, SIGMA, STIT, TEN, TEND,
                                    TEND1, TEND_1, TENR, TENR, TENR_R, TENR_R1, TENR_R2,
                                    TENS, TENS1, TENT, WTEP
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>