<div class="card border-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title">3. Remove data parts</h5>
        <h6 class="card-subtitle mb-2 text-muted">Box plot</h6>


        <form id="las_selector" data-hx-get="/threea" data-hx-params="*" data-hx-target="#las_box"
              data-hx-indicator="#indicator">
            <label for="selected_log" class="form-label">Select logs</label>
            <select name="selected_log" id="selected_log" class="form-select mb-2" multiple>
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary text-white">Submit</button>
        </form>
        <div id="las_box">

        </div>


    </div>
</div>