{% load static %}
<div class="card border-secondary mb-3">
    <div class="card-body">
        <h5 class="card-title">3. Pre-Conditioning</h5>
        <h6 class="card-subtitle mb-2 text-muted">Assess the data before training the model</h6>

        {{ heatmap_div|safe }}
        <form id="las_selector" data-hx-get="/threea" data-hx-params="*" data-hx-target="#las_box"
              data-hx-indicator="#submit_logs_indicator">
            <label for="selected_log" class="form-label mt-2">Select logs</label>
            <select name="selected_log" id="selected_log" style="visibility: hidden; width: 100%"
                    size="1" multiple>
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary text-white my-3">Submit
                <img id="submit_logs_indicator" style="height:20px;" class="htmx-indicator"
                     src="{% static 'img/bars.svg' %}"/></button>
        </form>
        <div id="las_box">

        </div>


    </div>
</div>