// add Roboto Font
@import "../../node_modules/@fontsource/roboto/400";

$font-family-sans-serif: Roboto;
$primary: #00AFF0;
$secondary: #F58634;
$border-radius: .6rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/select2/src/scss/core";
@import "../../node_modules/select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";

@import "spinner";