{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h5 class="text-lg py-6">WellCast is a web-application tool for predicting missing well log data using the machine
        learning workflow.
        In this application, we used gradient boost method (tree-based algorithm) which was adapted from the result of
        <a href="https://github.com/Geovartha/spe-gcs-ml-challenge-2021-/blob/main/spe_gcs_ml_challenge_2021.ipynb"
           target="_blank" rel="noopener noreferrer">SPE
            GCS ML Challenge 2021</a>. This workflow summarized on the picture below.
    </h5>

    <img src="{% static 'img/workflow.png' %}" alt="workflow diagram" class="mx-auto py-6">

    <div class="mt-10 space-y-20">
        <div class="w-full">
            <div class="flex-1 h-full w-96 mx-auto">
                <a href="{% url 'wellcast:upload_files' %}"
                   class="flex w-full bg-blue-500 shadow rounded-lg py-4 px-16 hover:bg-blue-700">
                    <p class="m-auto inset-0 text-xl font-semibold leading-7 text-center text-gray-200">Start</p>
                    <div class="mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="white">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}